<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.dao.StockStatisticsMapper">
	<resultMap id="BaseResultMap" type="java.util.HashMap">

	</resultMap>
	<sql id="Base_Column_List">
		sc.code,sc.name,sc.bus,hhv_date,hhv,llv_date,llv,v_days,profit_loss,market_date,sc.statestr,length(sc.statestr)-length(replace(sc.statestr,',',''))-1
		snum,ifnull(swc.num,0)
		num
	</sql>
	<sql id="Base_Column_List_Year">
		sc.code,sc.name,sc.bus,ss.hhv_d hhv_date,ss.hhv_p
		hhv,ss.llv_d llv_date,ss.llv_p llv,ss.days,ss.profit_loss,
		v_days,sc.market_date,sc.statestr,length(sc.statestr)-length(replace(sc.statestr,',',''))-1
		snum,ifnull(swc.num,0) num
	</sql>
	<sql id="Base_Column_List_Month">
		sc.code,sc.name,sc.bus,ssm.hhv_d hhv_date,ssm.hhv_p hhv,
		ssm.llv_d llv_date,ssm.llv_p llv,ssm.days,ssm.profit_loss,
		v_days,sc.statestr,length(sc.statestr)-length(replace(sc.statestr,',',''))-1
		snum,sc.market_date,sc.state,ifnull(swc.num,0)
		num
	</sql>
	<sql id="Base_Column_List_Warn">
		sw.code,
		sc.statestr,length(sc.statestr)-length(replace(sc.statestr,',',''))-1
		snum,sc.state,sc.uddays,sw.*,ss.llv_d
		llv_date,ss.llv_p llv,ss.hhv_d
		hhv_date,ss.hhv_p hhv,ss.days
		v_days,sc.bus
	</sql>
	<sql id="Base_Column_List_WarnWindow">
		ss.code,sc.name,sc.bus,num,sumn,sumn2,zhang,sc.statestr,length(sc.statestr)-length(replace(sc.statestr,',',''))-1
		snum,sc.statestr
	</sql>
	<sql id="Base_Column_List_Track">
		sc.code,sc.name,sc.bus,sw.track,sw.days,sw.track_ud,sw.zhang,sw.nprice,sc.statestr,length(sc.statestr)-length(replace(sc.statestr,',',''))-1
		snum,sc.uddays,ifnull(swc.num,0)
		num,st.top_track_t,st.top_track_d,st.cen_track_t,st.cen_track_d,st.dwn_track_t,st.weekprice,st.monthprice,
		st.deepprice,st.targetprice,st.dwn_track_d,st.slf_track_t,st.slf_track_d
	</sql>
	<sql id="Base_Column_List_Updown">
		sc.code,sc.name,sc.bus,sc.statestr,length(sc.statestr)-length(replace(sc.statestr,',',''))-1
		snum,COUNT(sc.code) num,sumn
	</sql>
	<sql id="Base_Column_List_CZB">
		czb.*,sc.name,sc.bus,sc.statestr,length(sc.statestr)-length(replace(sc.statestr,',',''))-1
		snum
	</sql>
	<sql id="Base_Column_List_Holder">
		ss.*,sc.name,sc.bus,sc.statestr,length(sc.statestr)-length(replace(sc.statestr,',',''))-1
		snum
	</sql>
	<sql id="Base_column_List_Incoming">
		si.year,si.code,si.capital,si.nprice*si.capital markerprice
		,si.incoming,si.allincoming,si.sumincoming,sc.name,sc.bus,sc.statestr,length(sc.statestr)-length(replace(sc.statestr,',',''))-1
		snum
	</sql>
	<sql id="Base_column_List_Restricted">
		rst.*,(datediff(rst.day_d,now()))
		days,sc.name,sc.bus,sc.statestr,length(sc.statestr)-length(replace(sc.statestr,',',''))-1
		snum
	</sql>
	<sql id="Base_column_List_Detail">
		sc.code,sc.name,sc.bus,sc.oldname,sc.statestr,length(sc.statestr)-length(replace(sc.statestr,',',''))-1
		snum
	</sql>
	<sql id="Base_column_List_Corecontent">
		sc.code,sc.name,sc.bus,sc.content
	</sql>
	<sql id="Base_column_List_Trackcycle">
		sc.code,sc.statestr,sw.*,sc.bus,sc.name,sc.market_date,sc.statestr,length(sc.statestr)-length(replace(sc.statestr,',',''))-1
		snum
	</sql>
	<sql id="Example_Where_Clause">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="condition.yeard != null">
				and ss.code = sc.code
				and ss.year_d = #{condition.yeard}
			</if>
			<if test="condition.month !=null">
				and ssm.code = sc.code
				and ssm.year = #{condition.year}
				and ssm.month = #{condition.month}
			</if>
			<if test="condition.warn !=null">
				and sw.code = sc.code
				and day_d BETWEEN
				#{condition.startDate} and #{condition.endDate}
			</if>
			<if test="condition.warnwindow !=null">
				and ss.code=ss1.code
				and ss.code=sc.code
			</if>
			<if test="condition.warndays !=null">
			    <![CDATA[and ss.num>=#{condition.warndays}]]>
			</if>
			<if test="condition.track!=null">
				and st.code=sw.code
				and sw.code = sc.code
				and days BETWEEN
				#{condition.startDate} and
				#{condition.endDate}
			</if>
			<if test="condition.updown!=null">
				and sc.code=sc2.code
				and sc1.code = sc.code
				and day_d
				BETWEEN
				#{condition.startDate} and
				#{condition.endDate}
			</if>
			<if test="condition.czb!=null">
				and day_d BETWEEN
				#{condition.startDate} and
				#{condition.endDate}
			</if>
			<if test="condition.restricted!=null">
				and rst.day_d BETWEEN
				#{condition.startDate} and
				#{condition.endDate}
			</if>
			<!-- 十大流通股东 -->
			<if test="condition.ios!=null">
			   <![CDATA[and ss.ios LIKE concat('%',#{condition.ios},'%')]]>
			</if>
			<if test="condition.holdertype!=null">
			   <![CDATA[and ss.type LIKE concat('%',#{condition.holdertype},'%')]]>
			</if>
			<if test="condition.stockholder!=null">
			   <![CDATA[and ss.stockholder LIKE concat('%',#{condition.stockholder},'%')]]>
			</if>
			<!-- 限售股类型 -->
			<if test="condition.stockrestrictedtype!=null">
			   <![CDATA[and rst.type LIKE concat('%',#{condition.stockrestrictedtype},'%')]]>
			</if>

			<if test="condition.stockczb!=null">
				and type_code=#{condition.stockczb}
			</if>
			<!-- 直接从service中组装好涨幅查询条件 -->
			<if test="condition.ups_1!=null">
			    <![CDATA[and udv >=9.8 ]]>
			</if>
			<if test="condition.ups_2!=null">
			    <![CDATA[and udv >=5 ]]>
			</if>
			<if test="condition.ups_3!=null">
			    <![CDATA[and udv <=-9.8 ]]>
			</if>
			<if test="condition.ups_4!=null">
			    <![CDATA[and (udv >=9.8 or udv <=-9.8)]]>
			</if>

			<if test="condition.stocktrack!=null">
				and sw.track = #{condition.stocktrack}
			</if>
			<if test="condition.stocktrackdes!=null">
			      <![CDATA[and sw.track_ud LIKE concat('%',#{condition.stocktrackdes},'%')]]>
			</if>
			<if test="condition.state != null">
				and sc.state = #{condition.state}
			</if>
			<if test="condition.code != null">
			     <![CDATA[and sc.code LIKE concat('%',#{condition.code},'%')]]>
			</if>
			<if test="condition.name != null">
        		 <![CDATA[and sc.name LIKE concat('%',#{condition.name},'%')]]>
			</if>
			<if test="condition.market_date != null">
			      <![CDATA[and market_date LIKE concat('%',#{condition.market_date},'%')]]>
			</if>
			<if test="condition.types!=null and condition.types.size > 0">
				<foreach item="item" collection="condition.types">
					 <![CDATA[ and statestr LIKE concat('%',#{item},'%')]]>
				</foreach>
			</if>
			<!-- 核心题材 -->
			<if test="condition.corekeys!=null and condition.corekeys.size > 0">
				<foreach item="item" collection="condition.corekeys">
					 <![CDATA[ and content LIKE concat('%',#{item},'%')]]>
				</foreach>
			</if>
		</trim>
	</sql>
	<!-- 年报 -->
	<select id="selectStockStatistics" resultMap="BaseResultMap"
		parameterType="com.authority.pojo.Criteria">
		select
		<if test="distinct"> distinct </if>
		<include refid="Base_Column_List_Year" />
		FROM stock_statistics ss ,
		stock_content sc left join (select
		code,count(code) num from
		stock_warn
		where (1=1) and day_d BETWEEN
		#{condition.startDate} and
		#{condition.endDate} GROUP BY code) swc on
		swc.code=sc.code
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<include refid="common.Mysql_Pagination_Limit" />
	</select>

	<select id="countStockStatistics" parameterType="com.authority.pojo.Criteria"
		resultType="java.lang.Integer">
		select count(sc.code) FROM
		<if test="condition.yeard != null">
			stock_statistics ss ,
		</if>
		stock_content sc left join (select
		code,count(code) num from stock_warn
		where (1=1) and day_d BETWEEN
		#{condition.startDate} and
		#{condition.endDate} GROUP BY code) swc on
		swc.code=sc.code
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<!-- 月报 -->
	<select id="selectStockMonthStatistics" resultMap="BaseResultMap"
		parameterType="com.authority.pojo.Criteria">
		select
		<if test="distinct"> distinct </if>
		<include refid="Base_Column_List_Month" />
		FROM stock_statistics_month ssm ,stock_content sc left join (select
		code,count(code) num from
		stock_warn where (1=1) and day_d BETWEEN
		#{condition.startDate} and
		#{condition.endDate} GROUP BY code) swc on
		swc.code=sc.code
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<include refid="common.Mysql_Pagination_Limit" />
	</select>

	<select id="countStockMonthStatistics" parameterType="com.authority.pojo.Criteria"
		resultType="java.lang.Integer">
		select count(sc.code) FROM
		stock_statistics_month ssm ,stock_content sc
		left join (select code,count(code) num from
		stock_warn where (1=1) and
		day_d BETWEEN
		#{condition.startDate} and
		#{condition.endDate} GROUP BY
		code) swc on
		swc.code=sc.code
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<!-- 量能预警 -->
	<select id="selectStockWarnStatistics" resultMap="BaseResultMap"
		parameterType="com.authority.pojo.Criteria">
		select
		<if test="distinct"> distinct </if>
		<include refid="Base_Column_List_Warn" />
		FROM stock_warn sw,stock_statistics ss ,stock_content sc
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		group by code
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<include refid="common.Mysql_Pagination_Limit" />
	</select>

	<select id="countStockWarnStatistics" parameterType="com.authority.pojo.Criteria"
		resultType="java.lang.Integer">
		select count(t.row) from (
		select count(sc.code) row
		FROM stock_warn
		sw,stock_statistics ss
		,stock_content sc
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		group by sc.code
		) t
	</select>
	<!-- 量能预警统计 -->
	<select id="selectStockWarnWindowStatistics" resultMap="BaseResultMap"
		parameterType="com.authority.pojo.Criteria">
		select
		<if test="distinct"> distinct </if>
		<include refid="Base_Column_List_WarnWindow" />
		from
		(SELECT code,count(code) num,sum(zhang) zhang from stock_warn
		where
		day_d
		BETWEEN #{condition.startDate} and #{condition.endDate} and
		zhang&gt;=-1 GROUP BY code) ss,
		(SELECT code,count(code) sumn from
		stock_warn where
		day_d BETWEEN #{condition.startDate} and
		#{condition.endDate} GROUP BY
		code) ss1
		left join
		(SELECT
		code,count(code) sumn2 from stock_warn where
		day_d BETWEEN
		#{condition.startDate} and #{condition.endDate} and
		(zhang&gt;=3.97 or
		zhang&lt;=-3.97) GROUP BY code) ss2
		on
		ss1.code=ss2.code,stock_content
		sc
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<include refid="common.Mysql_Pagination_Limit" />
	</select>

	<select id="countStockWarnWindowStatistics" parameterType="com.authority.pojo.Criteria"
		resultType="java.lang.Integer">
		select count(sc.code) from
		(SELECT code,count(code) num,sum(zhang)
		zhang from stock_warn where
		day_d BETWEEN #{condition.startDate} and
		#{condition.endDate} and
		zhang&gt;=-1 GROUP BY code) ss,
		(SELECT
		code,count(code) sumn from
		stock_warn where
		day_d BETWEEN
		#{condition.startDate} and #{condition.endDate} GROUP BY
		code) ss1
		left
		join
		(SELECT code,count(code) sumn2 from stock_warn where
		day_d BETWEEN
		#{condition.startDate} and #{condition.endDate} and
		(zhang&gt;=3.97 or
		zhang&lt;=-3.97) GROUP BY code) ss2
		on
		ss1.code=ss2.code,stock_content
		sc
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<!-- 轨道预警 -->
	<select id="selectStockTrackStatistics" resultMap="BaseResultMap"
		parameterType="com.authority.pojo.Criteria">
		select
		<if test="distinct"> distinct </if>
		<include refid="Base_Column_List_Track" />
		from stock_track_warn sw,stock_track st,stock_content sc left join
		(select code,count(code) num from stock_warn where day_d BETWEEN
		#{condition.startDate} and
		#{condition.endDate} GROUP BY code) swc on
		swc.code=sc.code
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<include refid="common.Mysql_Pagination_Limit" />
	</select>

	<select id="countStockTrackStatistics" parameterType="com.authority.pojo.Criteria"
		resultType="java.lang.Integer">
		select count(sc.code)
		from stock_track_warn sw,stock_track
		st,stock_content sc left join
		(select code,count(code) num from
		stock_warn where day_d BETWEEN
		#{condition.startDate} and
		#{condition.endDate} GROUP BY code) swc on
		swc.code=sc.code
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<!-- 涨跌幅 -->
	<select id="selectStockUpdownStatistics" resultMap="BaseResultMap"
		parameterType="com.authority.pojo.Criteria">
		select
		<if test="distinct"> distinct </if>
		<include refid="Base_Column_List_Updown" />
		from stock_cache sc1,stock_content sc,
		(SELECT code,count(code) sumn
		from stock_cache where buy > tov and day_d BETWEEN
		#{condition.startDate}
		and
		#{condition.endDate} GROUP BY code) sc2
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		GROUP BY sc.code
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<include refid="common.Mysql_Pagination_Limit" />
	</select>

	<select id="countStockUpdownStatistics" parameterType="com.authority.pojo.Criteria"
		resultType="java.lang.Integer">
		select count(t.row) from (
		select count(sc.code) row
		from stock_cache
		sc1,stock_content sc,
		(SELECT
		code,count(code) sumn
		from stock_cache
		where buy > tov and day_d
		BETWEEN
		#{condition.startDate} and
		#{condition.endDate} GROUP BY code)
		sc2
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		GROUP BY sc.code
		) t
	</select>
	<!-- 财政营业部 -->
	<select id="selectStockCZBStatistics" resultMap="BaseResultMap"
		parameterType="com.authority.pojo.Criteria">
		select
		<if test="distinct"> distinct </if>
		<include refid="Base_Column_List_CZB" />
		from stock_czb czb left join stock_content sc on czb.code=sc.code
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<include refid="common.Mysql_Pagination_Limit" />
	</select>

	<select id="countStockCZBStatistics" parameterType="com.authority.pojo.Criteria"
		resultType="java.lang.Integer">
		select count(sc.code)
		from stock_czb czb left join stock_content sc on
		czb.code=sc.code
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<!-- 查询十大流通股东类型 -->
	<select id="selectHoldertype" resultMap="BaseResultMap">
		select type from
		stock_ship group by type
	</select>
	<!-- 查询十大流通股东 -->
	<select id="selectStockHolderStatistics" resultMap="BaseResultMap"
		parameterType="com.authority.pojo.Criteria">
		select
		<if test="distinct"> distinct </if>
		<include refid="Base_Column_List_Holder" />
		from stock_ship ss left join stock_content sc on ss.code = sc.code
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<include refid="common.Mysql_Pagination_Limit" />
	</select>

	<select id="countStockHolderStatistics" parameterType="com.authority.pojo.Criteria"
		resultType="java.lang.Integer">
		select count(sc.code)
		from stock_ship ss left join stock_content sc on
		ss.code = sc.code
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<!-- 个股收益 -->
	<select id="selectStockIncomingStatistics" resultMap="BaseResultMap"
		parameterType="com.authority.pojo.Criteria">
		select
		<if test="distinct"> distinct </if>
		<include refid="Base_column_List_Incoming" />
		from stock_incoming si left join stock_content sc on si.code=sc.code
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<include refid="common.Mysql_Pagination_Limit" />
	</select>

	<select id="countStockIncomingStatistics" parameterType="com.authority.pojo.Criteria"
		resultType="java.lang.Integer">
		select count(sc.code)
		from stock_incoming si left join stock_content sc
		on si.code=sc.code
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<!-- 查询限售股类型 -->
	<select id="selectRestrictedtype" resultMap="BaseResultMap">
		select type from
		stock_restricted group by type
	</select>
	<!-- 查询个股限售时间 -->
	<select id="selectStockRestrictedStatistics" resultMap="BaseResultMap"
		parameterType="com.authority.pojo.Criteria">
		select
		<if test="distinct"> distinct </if>
		<include refid="Base_column_List_Restricted" />
		from stock_restricted rst left join stock_content sc on
		rst.code=sc.code
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<include refid="common.Mysql_Pagination_Limit" />
	</select>

	<select id="countStockRestrictedStatistics" parameterType="com.authority.pojo.Criteria"
		resultType="java.lang.Integer">
		select count(sc.code)
		from stock_restricted rst left join stock_content
		sc on rst.code=sc.code
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<!-- 股名历史 -->
	<select id="selectStockDetailStatistics" resultMap="BaseResultMap"
		parameterType="com.authority.pojo.Criteria">
		select
		<if test="distinct"> distinct </if>
		<include refid="Base_column_List_Detail" />
		from stock_content sc
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<include refid="common.Mysql_Pagination_Limit" />
	</select>

	<select id="countStockDetailStatistics" parameterType="com.authority.pojo.Criteria"
		resultType="java.lang.Integer">
		select count(sc.code)
		from stock_content sc
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<!-- 核心题材 -->
	<select id="selectStockCorecontentStatistics" resultMap="BaseResultMap"
		parameterType="com.authority.pojo.Criteria">
		select
		<if test="distinct"> distinct </if>
		<include refid="Base_column_List_Corecontent" />
		from stock_content sc
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<!-- 个股轨道趋势 -->
	<select id="selectStockTrackcycleStatistics" resultMap="BaseResultMap"
		parameterType="com.authority.pojo.Criteria">
		select
		<if test="distinct"> distinct </if>
		<include refid="Base_column_List_Trackcycle" />
		from stock_track sw right join stock_content sc on sw.code = sc.code
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<include refid="common.Mysql_Pagination_Limit" />
	</select>
	<!-- 轨道趋势周期 -->
	<select id="countStockTrackcycleStatistics" parameterType="com.authority.pojo.Criteria"
		resultType="java.lang.Integer">
		select count(sc.code)
		from stock_track sw right join stock_content sc
		on sw.code = sc.code
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<select id="countTrackcycle" resultType="java.lang.Integer"
		parameterType="java.lang.String">
		select count(code) from stock_track where code=#{code}
	</select>
	<delete id="deleteTrackcycleByCode" parameterType="java.lang.String">
		delete from
		stock_track where code = #{code}
	</delete>
	<insert id="insertTrackcycle" useGeneratedKeys="true"
		keyProperty="code" parameterType="com.stock.pojo.Trackcycle">
		insert into stock_track
		(code,track,top_track_t,top_track_d,cen_track_t,cen_track_d,dwn_track_t,dwn_track_d,form_des,stock_summary,slf_track_t,slf_track_d,weekprice,monthprice,deepprice,targetprice)
		values
		(#{code},#{track},#{top_track_t},#{top_track_d},#{cen_track_t},#{cen_track_d},#{dwn_track_t},#{dwn_track_d},#{form_des},#{stock_summary},#{slf_track_t},#{slf_track_d},#{weekprice},#{monthprice},#{deepprice},#{targetprice})
	</insert>
	<update id="updateTrackcycle" parameterType="com.stock.pojo.Trackcycle">
		update stock_track
		<set>
				track = #{track},
				top_track_t = #{top_track_t},
				top_track_d = #{top_track_d},
				cen_track_t = #{cen_track_t},
				cen_track_d = #{cen_track_d},
				dwn_track_t = #{dwn_track_t},
				dwn_track_d = #{dwn_track_d},
				slf_track_t = #{slf_track_t},
				slf_track_d = #{slf_track_d},
				form_des = #{form_des},
				stock_summary = #{stock_summary},
				weekprice = #{weekprice},
				monthprice = #{monthprice},
				deepprice = #{deepprice},
				targetprice = #{targetprice},
		</set>
		where code = #{code}
	</update>
	<!-- 个股编号集合 -->
	<resultMap id="BaseResultString" type="java.lang.String" />
	<select id="selectStocks" resultMap="BaseResultString">
		select code from stock_content
	</select>
	<select id="selectStocksMsg" resultMap="BaseResultMap">
		select code,name from stock_content
	</select>
	<!-- 查询设置好的轨道趋势信息 -->
	<select id="getTrackMap" resultMap="BaseResultMap">
		SELECT * FROM stock_track
	</select>

	<!-- 查询 个股涨跌天数 -->
	<select id="getDaysMap" resultMap="BaseResultMap">
		select code,uddays from stock_content
	</select>
	<!-- 更新个股类型 -->
	<update id="saveTrackstate"  parameterType="com.authority.pojo.Criteria" >
	    update stock_content set statestr=#{condition.statestr} where code=#{condition.code}
	</update>
	<!-- 查询 个股流通股本 -->
	<select id="getStocksCapital" resultMap="BaseResultMap">
		select code,capital from stock_content
	</select>
	<!-- 查询个性化URL -->
	<resultMap id="UrlsResultMap" type="java.util.HashMap">
 		<result column="id" property="id"/>
 		<result column="user_id" property="userid"/>
 		<result column="urlname" property="name"/>
 		<result column="wwwurl" property="url"/>
 		<result column="pic" property="pic"/>
 		<result column="times" property="times"/>
	</resultMap>
	<sql id="Stockurls_Where_Clause">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="condition.userid != null">
				and user_id = #{condition.userid}
			</if>
		</trim>
	</sql>
	<select id="selectStockUrls" resultMap="UrlsResultMap"
		parameterType="com.authority.pojo.Criteria">
		select * from stock_urls
		<if test="_parameter != null">
			<include refid="Stockurls_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
</mapper>