<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.dao.StockCodeStatisticsMapper">
	<resultMap id="BaseResultMap" type="java.util.HashMap">

	</resultMap>
	
	<!-- 查询编号基本信息 -->
	<select id="getStockContent" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT * FROM stock_content where code=#{code}
	</select>
	<!-- 个股年报盈亏比例 -->
	<select id="getYearStatistics" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT year_d year,truncate((hhv_p-llv_p)/llv_p*100,2) uds FROM stock_statistics where code=#{code}
	</select>
	<!-- 个股月报盈亏比例 -->
	<select id="getMonthStatistics" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT year,month,truncate((hhv_p-llv_p)/llv_p*100,2) uds FROM stock_statistics_month where code=#{code}
	</select>
	<!-- 个股统计相关信息 -->
	<select id="getStockSelfMsg" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT st.*,sr.day_d,sr.allcount,sr.type,sr.tov,sr.toa from stock_track st,stock_restricted sr where st.code = sr.code and st.code=#{code}
	</select>
</mapper>