<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.dao.StockContentMapper">
	
	<!-- 添加或更新个股的基本信息  -->
	<insert id="synStockContent" parameterType="java.util.Map">
		INSERT INTO stock_content(code,name,bus,capital)values(
			#{code,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{bus,jdbcType=VARCHAR},#{capital,jdbcType=DECIMAL}
		)ON DUPLICATE KEY UPDATE code=#{code,jdbcType=VARCHAR},name=#{name,jdbcType=VARCHAR},bus=#{bus,jdbcType=VARCHAR},capital=#{capital,jdbcType=DECIMAL}
	</insert>
</mapper>